<main id="main">
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    {{#each friends}}
        <div class="container">
            <h2>{{name}}</h2>
            <p>Fav Color : {{favColor}}</p>
            <p>Age : {{age}}</p>
        </div>
    {{/each}}
</div>